<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-card-content class="ion-text-center">
          <form>
            <ion-item lines="full">
              <ion-label position="floating">Correo Electronico</ion-label>
              <ion-input type="text" #email required></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" #password required></ion-input>
            </ion-item>

            <ion-row>
              <ion-col>
                <ion-button
                  type="submit"
                  (click)="logIn(email, password)"
                  expand="block"
                  >Ingresar</ion-button
                >
              </ion-col>
            </ion-row>

            <span class="divider line one-line">Tambien puedes iniciar sesion con:</span>

            <ion-row>
              <ion-col>
                <ion-button
                  type="submit"
                  color="danger"
                  (click)="authService.GoogleAuth()"
                  expand="block"
                >
                  Ingresar con Google
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-card-content class="ion-text-center">
          <ion-label color="primary" [routerLink]="['/registration']">
            Registrarse ahora!
          </ion-label>
        </ion-card-content>
        <ion-card-content class="ion-text-center">
          <ion-label color="warning" [routerLink]="['/forgot-password']">
            Olvide mi contraseña
          </ion-label>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
