<ion-header>
  <ion-toolbar color="success">
    <ion-title> Conversaciones </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let chat of chats">
    <ion-card-header> {{ chat.email }}: </ion-card-header>
    <ion-card-content>
      {{ chat.message }}
      <img src="{{ chat.imageMessage }}" *ngIf="chat.imageMessage" />
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Enter text" [(ngModel)]="message"></ion-input>
    <ion-buttons slot="end">
      Enviar
      <ion-button (click)="sendMessage()">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
      <ion-button expand="full" (click)="buttonFile.click()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <input
        type="file"
        style="display: none"
        #buttonFile
        (change)="uploadImage($event.target.files)"
      />
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-footer (click)="logout()">
    <ion-toolbar color="secondary">
      <ion-title>Cerrar sesión</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-footer>
